<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css _style/layout-task9.css">
    <link href="https://fonts.googleapis.com/css?family=Kalam|Patrick+Hand&display=swap" rel="stylesheet">
</head>

<body>
    <div class="row">
        <p>Win money with us!</p>
        <div class="column">
            <div class="card">
                <div class="content">
                    <div class="circle">
                        <div class="text">1</div>
                    </div>
                </div>
                <div class="container">
                    <p>First singin up</p>
                </div>
            </div>
        </div>

        <div class="column">
                <div class="card">
                    <div class="content">
                        <div class="circle">
                            <div class="text">2</div>
                        </div>
                    </div>
                    <div class="container">
                        <p>Login</p>
                    </div>
                </div>
            </div>

            <div class="column">
                    <div class="card">
                        <div class="content">
                            <div class="circle">
                                <div class="text">3</div>
                            </div>
                        </div>
                        <div class="container">
                            <p>Create application</p>
                        </div>
                    </div>
                </div>

                <div class="column">
                        <div class="card">
                            <div class="content">
                                <div class="circle">
                                    <div class="text">4</div>
                                </div>
                            </div>
                            <div class="container">
                                <p>Invite friends</p>
                            </div>
                        </div>
                    </div>

                    <div class="column">
                            <div class="card">
                                <div class="content">
                                    <div class="circle">
                                        <div class="text">5</div>
                                    </div>
                                </div>
                                <div class="container">
                                    <p>Earn money</p>
                                </div>
                            </div>
                        </div>
    </div>
</body>

</html>