<!DOCTYPE html>
<html>

<head>
    <title></title>
    <!--Icon-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Emoji-->
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fruktur&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css _style/layout-task5.css">
</head>

<body>
    <div class="row">
        <div class="column">
            <div class="image">
                <i class="em em-slightly_smiling_face"></i>
            </div>
            <div class="content">
                <div class="tittle">Tittle</div>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim
                </p>
            </div>
        </div>

        <!--Row 2-->
        <div class="column">
            <div class="image">
                <i class="em em-dizzy_face"></i>
            </div>
            <div class="content">
                <div class="tittle">Tittle</div>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim
                </p>
            </div>
        </div>
        <!--Row 3-->
        <div class="column">
            <div class="image">
                <i class="em em-drooling_face"></i>
            </div>
            <div class="content">
                <div class="tittle">Tittle</div>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <!--Row 4-->
        <div class="column">
            <div class="image">
                <i class="em em-face_with_head_bandage"></i>
            </div>
            <div class="content">
                <div class="tittle">Tittle</div>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim
                </p>
            </div>
        </div>

        <!--Row 5-->
        <div class="column">
            <div class="image">
                <i class="em em-face_with_monocle"></i>
            </div>
            <div class="content">
                <div class="tittle">Tittle</div>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim
                </p>
            </div>
        </div>
        <!--Row -->
        <div class="column">
            <div class="image">
                <i class="em em-thinking_face"></i>
            </div>
            <div class="content">
                <div class="tittle">Tittle</div>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim
                </p>
            </div>
        </div>
    </div>
</body>
</html>