<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../css _style/layout-task3.css">
</head>
<body>

<div class="row">
  <div class="column">
    <div class="card">
      <img src="../images/sea.jpg" alt="sea" style="width:100%">
      <div class="container">
        <p class="title">Sador da Saudade Apartment</p>
        <p class="place">Амстердам</p>
        <P class="price">От BGN 352</P>
        <span>
            <span id="rating">9.2</span> 
            <span class="a">Превъзходен</span>
             <span class="b">15 отзива</span>
        </span>
        
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
            <img src="../images/sea.jpg" alt="sea" style="width:100%">
            <div class="container">
              <p class="title">Sador da Saudade Apartment</p>
              <p class="place">Амстердам</p>
              <P class="price">От BGN 352</P>
              <span>
                  <span id="rating">9.2</span> 
                  <span class="a">Превъзходен</span>
                   <span class="b">15 отзива</span>
              </span>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
            <img src="../images/sea.jpg" alt="sea" style="width:100%">
            <div class="container">
              <p class="title">Sador da Saudade Apartment</p>
              <p class="place">Амстердам</p>
              <P class="price">От BGN 352</P>
              <span>
                  <span id="rating">9.2</span> 
                  <span class="a">Превъзходен</span>
                   <span class="b">15 отзива</span>
              </span>
      </div>
    </div>
  </div>
</div>

</body>
</html>