<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../css _style/layout-task2.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>
<body>

    <div class="conteiner">
        <img src="../images/img_avatar.png" class="avatar">
        <span class="title">fit.instagr</span>
      
      <img src="../images/sea.jpg" alt="sea" style="width:100%">
     <span class="icon">
            <i class="material-icons ">favorite_border</i>
            <i class="material-icons">chat_bubble_outline</i>
            <i class="material-icons">file_upload</i>
            <i class="material-icons bookmark_border">bookmark_border</i>
        </span>
          </div>



</body>
</html>