<!DOCTYPE html>
<html>

<head>
  <title></title>
  <!--Icon-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <!--Emoji-->
  <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../css _style/layout-task4.css">
</head>

<body>
  <div class="conteiner">
    <div class="content">
      <div class="b">
        <!--Row 1-->
        <div class="row">
          <div class="column side left">
            <img src="../images/img_avatar.png" class="avatar">
          </div>
          <div class="column middle">
            <div class="name">John Snow</div>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</br></br>
              Aut, voluptas minus? Magni expedita nulla
              exercitationem nobis nesciunt veritatis ducimus
              doloribus, reiciendis temporibus id repellendus
              consequatur enim corporis nam sunt incidunt.</p>
          </div>
          <div class="column side right">
            <i class="material-icons column side left">chat_bubble_outline</i>
            <div class="time column side  right">18:43</div>
          </div>
        </div>
        <!--Row 2-->
        <div class="row">
          <div class="column side left">
            <img src="../images/img_avatar2.png" class="avatar">
          </div>
          <div class="column middle">
            <div class="name">Malko kote</div>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</br></br>
              Aut, voluptas minus? Magni expedita nulla
              exercitationem nobis nesciunt veritatis ducimus
              doloribus, reiciendis temporibus id repellendus
              consequatur enim corporis nam sunt incidunt.</p>
          </div>
          <div class="column side right">
            <i class="material-icons column side left">smartphone</i>
            <div class="time column side  right">18:43</div>
          </div>
        </div>
        <!--Row 3-->
        <div class="row">
          <div class="column side left">
            <img src="../images/img_avatar.png" class="avatar">
          </div>
          <div class="column middle">
            <div class="name">John Snow</div>
            <p> Lorem ipsum
              <i class="em em-slightly_smiling_face"></i>
            </p>
          </div>
          <div class="column side right">
            <i class="material-icons column side left">chat_bubble_outline</i>
            <div class="time column side  right">18:43</div>
          </div>
        </div>
        <!--Row4-->
        <div class="row">
          <div class="column side left">
            <img src="../images/img_avatar2.png" class="avatar">
          </div>
          <div class="column middle">
            <div class="name">Malko kote</div>

            <i class="em em-slightly_smiling_face"></i>

          </div>
          <div class="column side right">
            <i class="material-icons column side left">smartphone</i>
            <div class="time column side  right">18:43</div>
          </div>
        </div>

      </div>
    </div>
  </div>
</body>

</html>





</body>

</html>